/db_pull_1.parquet
/resample_1.parquet
/segmentate_1.dill
/correlations_1.parquet
/bandpass_1.dill
/lowpass_1.dill
/train_test_split_1.json
/standard-scaled_1.parquet
/standard-scaler-means_1.csv
/standard-scaler-stds_1.csv
/moving_average_1.parquet
/min-max-scaled_1.parquet
/min-max-scaler-maxs_1.csv
/min-max-scaler-mins_1.csv
/fft_1.dill
/aggregate_1.dill
/highpass_1.dill
/pca_1.parquet
