/db_pull_calibrated.parquet
/resample_50Hz.parquet
/segmentate_5s.dill
/correlations_pearson.parquet
/min-max-scaled_min0_max1.parquet
/min-max-scaler-maxs_min0_max1.csv
/min-max-scaler-mins_min0_max1.csv
/highpass_ord3_cut01.dill
/fft.dill
/bandpass_ord3_low01_high100.dill
/train_test_split_ratio02.json
/moving_average_5s.parquet
/aggregate_mean_median_std.dill
/pca_comp6.parquet
/standard-scaled.parquet
/standard-scaler-means.csv
/standard-scaler-stds.csv
/lowpass_ord3_cut100.dill
/mlp_model.pt
/mlp_output_test.csv
/hgb_model.pickle
/hgb_output_test.csv
/confusion_matrix.png
/model.pkl
/output_test.csv
/segments_min_max.dill
/transformer_min_max.dill
/segments_standardized.dill
/transformer_standardize.dill
/segments_pca.dill
/transformer_pca.dill
/moving_average_01s.parquet
/moving_average_01s.dill
