name: run_pipeline
on: [push]
jobs:
  run:
    runs-on: [self-hosted,cml,gpu]
    steps:
      - uses: actions/checkout@v2
      - name: cml_run
        env:
          DVC_STUDIO_TOKEN: ${{ secrets.DVC_STUDIO_TOKEN }}
        run: |
          # Git setup
          git config user.name cdl1-iterative
          git config user.email iterative@fuet.ch

          # Setup project
          pip install -r requirements.txt

          # Get data and artifacsts from DVC remote
          dvc pull --run-cache

          # Run pipeline
          dvc exp run

          # Push new data and artifacts to DVC remote
          dvc push

          git fetch --prune
          # Check if Hyperparameters or Metrics changed, if not exit
          if [[ $(dvc params diff) == "" ]] && [[ $(dvc metrics diff) == "" ]]; then
            echo "No changes in Hyperparameters or Metrics"
            exit 0
          fi

          # save model name
          MODEL_NAME=$(python cli_utils/get_model_name.py)

          # Create report
          echo "# RUN: $MODEL_NAME, $(date "+%F %H-%M-%S")" > report.md
          
          # Compare Hyperparameters
          echo "## Hyperparameters" >> report.md
          dvc params diff --show-md main >> report.md

          # Compare metrics
          echo "## Metrics" >> report.md
          dvc metrics diff --show-md main >> report.md

          # Add plots
          echo "## Plots" >> report.md
          echo "### Confusion Matrix" >> report.md
          echo "![Confusion Matrix](evaluation/confusion_matrix.png)" >> report.md

          # Create report
          cml comment create report.md

          # Create Pull Request with code and metadata changes
          cml pr create .